body {
  background: #16222A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A , #3A6073); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A , #3A6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
 h1 {
  color: white;
  font-family: Libre Baskerville;
 }
p {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 125%;
  padding-bottom: 20px;
}
img {
  padding-bottom: 20px;
}
ul {
  color: white;
  font-size: 120%;
  text-align: center;
  list-style-position: inside;
}
li {
  
  padding-bottom: 10px;
}
